<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="BesideYou">
  <meta name="description" content="I can stand beside you!">
  <meta name="keywords" content="Motivation, love, power, work">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="Ali alachkar">

  <!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://besideyou.netlify.app/">
<meta property="og:title" content="Motivation, love, power, work">
<meta property="og:description" content="I can stand beside you!">
<meta property="og:image" content="../assets/img/love.png">

<!-- Twitter -->
<meta property="twitter:card" content="BESIDEYOU">
<meta property="og:url" content="https://besideyou.netlify.app/">
<meta property="og:title" content="Motivation, love, power, work">
<meta property="og:description" content="I can stand beside you!">
<meta property="twitter:image" content="../assets/img/love.png">


</head>
<body>
  <router-outlet></router-outlet>

</body>
</html>




